@media only screen and (max-width: 600px) {
/* FOR PHONE */
    .chHeartRow{
        height: 10vh;
        align-items: center;
        /*border: 1px solid blue;*/
    }
    .chHeartBox{
        width: 80vw;
        /*border: 1px solid red;*/
    }
    .chPicaRow{
        height:78vh;
        overflow:auto;
        /*border:1px solid blue;*/
    }
    .chPicaBox{
        /*border:1px solid red;*/
        
    }
    .chPicarea{
        display:flex;
        flex-direction:column;
        width: 50vmin;
        justify-content:center;
        align-items:center;
    }
    .chPic{
        height:50vmin;
        width:50vmin;
        object-fit: contain;
    }
    .scroll{
        overflow: scroll;    
    }
    .chDescrRow{
        height: 10vh;
        align-items: center;
        /*border: 1px solid blue;*/
    }
    .chDescrBox{
        width: 90%;
        /*border: 1px solid red;*/
    }
}

