@media only screen and (max-width: 600px) {
/* FOR PHONE */
    .selPicaRow{
        height:55vh;
        /*border:1px solid blue;*/
    }
    .selPicaBox{
        display:flex;
	    width: 80vw;
        height:90%;
        /*border:1px solid red;*/
    }
    .selTextRow{
       font-size:5vmin;
       height:33vh;
       overflow:auto;
       /*border:1px solid blue;*/
    }
    .selTextBox{
       height:100%;
       width:80vw;
       /*border:1px solid red;*/
    }
    .selButtonsRow{
      height:10vh;
      /*border:1px solid blue;*/
    }
    .selButtonsBox{
      display:flex;
      justify-content:space-evenly;
      width:90%;
      /*border:1px solid red;*/
    }
    .no{width:45%;}
    .yes{width:45%;}
}

